.idea/
.DS_Store
.hvigor/
.preview/
.test/
.artifacts/
build/
entry/build/
oh_modules/
node_modules/
*.hsp
*.hap
*.app
local.properties
signingConfigs/
*.signed
*.p7b
*.crt
*.cer
.appanalyzer/

.env
.DS_Store
